<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" >
  <div class="carousel-indicators" >
    <button *ngFor="let movie of recentMovies; let pos = index" type="button"
        data-bs-target="#carouselExampleCaptions"
        attr.data-bs-slide-to="{{pos}}"
        [ngClass]="pos == 0 ? 'active': ''"
        aria-current="true"
        attr.aria-label="Slide {{pos + 1}}">
      </button>
  </div>
  <div class="carousel-inner">
    <div *ngFor="let movie of recentMovies; let pos=index"
      [ngClass]="pos == 0 ? 'carousel-item active': 'carousel-item'" data-bs-interval="5000">
      <img [src]="movie.url" class="d-block w-100" style="height: 350px" [alt]="movie.name">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ movie.name }}</h5>
        <p>{{ movie.description }}</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
